.col-p {
  color: $site_primary;
}

.col-pl {
  color: $site_primary_light;
}

.col-pb {
  color: $site_pale_blue;
}

.col-mb {
  color: $site_mid_blue;
}

.col-mb-bg {
  background-color: $site_mid_blue;
}

.col-pb-bg {
  background-color: $site_pale_blue;
}

.col-pl-bg {
  background-color: $site_primary_light;
}

.col-pll-bg {
  background-color: $site_primary_lightest;
}

.col-p-bg {
  background-color: $site_primary;
}

.col-s {
  color: $site_secondary;
}

.col-s-bg {
  background-color: $site_secondary;
}

.col-w {
  color: $site_light;
}

.col-w-bg {
  background-color: $site_light;
}

.col-bg-trans {
  background-color: transparent;
}

.col-r {
  color: $site_red;
}

.col-r-bg {
  background-color: $site_red;
}

.col-grey {
  color: $site_grey;
}

.col-grey-bg {
  background-color: $site_grey;
}

.col-grey-light {
  color: $site_grey_light;
}

.col-grey-light-bg {
  background-color: $site_grey_light;
}

.col-midgr {
  color: $mid_grey;
}