.decoration {
  position: absolute;
  z-index: 0;
}

.d-left {
  left: 0;
}

.d-right {
  right: 0;
}

.d-top-20 {
  top: 20%
}

.d-top-30 {
  top: 30%
}

.d-top-40 {
  top: 40%
}

.d-top-50 {
  top: 50%
}

.d-bottom-20 {
  bottom: 20%
}

.d-bottom-30 {
  bottom: 30%
}

.d-bottom-40 {
  bottom: 40%
}