.decoration {
  position: absolute;
  z-index: 0;
}

.d-left {
  left: 5vw;
}

.d-right {
  right: 5vw;
}

.d-top-10 {
  top: 10%
}

.d-top-20 {
  top: 20%;
}

.d-top-30 {
  top: 30%;
}

.d-top-40 {
  top: 40%;
}

.d-top-50 {
  top: 50%;
}

.d-bottom-0 {
  bottom: 0;
}

.d-bottom-10 {
  bottom: 10%;
}

.d-bottom-20 {
  bottom: 20%;
}

.d-bottom-30 {
  bottom: 30%;
}

.d-bottom-40 {
  bottom: 40%;
}

.striped-wave-left-blue-bg {
  background: url(./images/wavy-bgs/striped-wave-left.svg);
  background-size: cover;
  background-position-x: center;
}

.striped-wave-right-red-bg {
  background: url(./images/wavy-bgs/striped-wave-right.svg);
  background-size: cover;
  background-position-x: center;
}

.dotted-wave-right-bg {
  background: url(./images/wavy-bgs/dotted-wave-right.svg);
  background-size: cover;
  background-position-x: center;
}

.dotted-wave-left-bg {
  background: url(./images/wavy-bgs/dots_left_red.svg);
  background-size: cover;
  background-position-x: center;
}

.decorated {
  & p {
    position: relative;
  }
}