div.vfl-label-on-input {
  top: -0.5rem;
  padding-left: .25rem;
}

.floating-label-input {
  position: relative;

  input[type=text], input[type=email], select {
    height: 35px;
  }

  label {
    position: absolute;
    top: 10px;
    left: 0.5rem;
    text-transform: none;
    font-size: .8rem;
    color: $mid_grey;
    transform-origin: left top;
    transition: .2s;
    transform: scale(1) translate3d(0,0,0);
    pointer-events: none;
    background-color: $site_light;
    padding: 0 5px;
  }

  .input:valid + label, .input:focus + label {
    transform: scale(0.9) translate3d(0,-18px,0);
    color: $site_secondary;
    text-transform: uppercase;
  }
}

input, textarea {
  color: $site_primary_light;
}

select {
  border: 1px solid $site_primary;
}