.home-page .main-nav {
  background-color: $site_primary;
}

.main-nav {
  background-color: rgba(24,50,66,0);
  box-shadow: none;
  z-index: 10;
  height: 70px;

  .logo-icon {
    padding-top: 5px;
  }

  .logo-text {
    overflow: hidden;
    margin-left: 10px;
    svg {
      transform: translate3d(0, 0, 0);
      transition: .7s ease-in-out;
    }

    @include respond-to(small) {
      display: none;
    }

  }

  &.scrolled {
    .logo-text {
      svg {
        transform: translate3d(-200px, 0, 0);
      }
    }
  }

  nav {
    a {
      position: relative;
    }

    .active:after {
      content: '';
      position: absolute;
      bottom: -3px;
      left: .5rem;
      right: .5rem;
      height: 2px;
      background-color: currentColor;

      @include respond-to(small) {
        display: none;
      }
    }
  }
}


.light .main-nav {
  nav > a {
    color: $site_primary;

    &:hover {
      color: $site_secondary;
    }
  }

  .logo-text, .logo-text a {
    color: $site_primary;
  }

  &.scrolled:not(.show) {
    background-color: $site_light;
    border-bottom: 1px solid $light_grey;

  }
}

.dark .main-nav {
  nav > a {
    color: $site_light;

    &:hover {
      color: $site_secondary;
    }
  }

  .logo-text, .logo-text a {
    color: $site_light;
  }

  &.scrolled {
    background-color: $site_primary;
    box-shadow: none;
  }
}

.home-page .main-nav {
  .logo-text {
    display: none;
  }

  .logo-icon {
    opacity: 0;
    transition: 1s;
  }

  &.scrolled {
    .logo-icon {
      opacity: 1;
    }
  }
}

