
// Body
$body-bg: #f5f8fa;

$dd_colour: #81cdbc;

$admin-primary: #183242;
$admin-secondary: #0096D5;
$admin-dark: #333;
$warning: #EE4056;
$white: #ffffff;
$mid_grey: #aaaaaa;
$light_grey: #dddddd;
$sans-serif: 'Raleway', sans-serif;

$site_primary:#183242;
$site_primary_light: #394960;
$site_primary_lightest: #93A1B6;

$site_secondary: #0096D5;
$site_pale_blue: #e3f3fa;

$site_red: #EE4056;

$site_light: #ffffff;

$site_grey: #F5F5F5;
$site_grey_light: #E6E7E8;

$site_reg_font: 'artegra-sans-reg', sans-serif;
$site_bold_font: 'artegra-sans-bold', sans-serif;