.about-banner {
  background-image: url(./images/banners/careers_banner.jpg);
  background-size: cover;


}

.team-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-column-gap: 2rem;
}