.careers-page .banner {
  background-image: url(./images/banners/careers_banner.jpg);
  background-size: cover;
  //background-position-y: 100px;
  //background-repeat: no-repeat;
  //
  //@include respond-to(small) {
  //  background-size: auto;
  //}
}

.jobs-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  grid-column-gap: 1rem;
}