//.join-us {
//  background-image: url('./images/careers_white.jpg');
//  background-size: cover;
//}
//
.home-page .banner {
  //background: url(./images/banners/home_banner.jpg);
  //background-size: cover;

}

.big-quote {
  position: relative;
  max-width: 745px;
  margin-right: auto;
  margin-left: auto;

}

.big-quote .quote-text {
  position: relative;
  line-height: 1.4;

}



//.big-quote .quote-text::before {
//  content: '\275d';
//  font-size: 10rem;
//  position: absolute;
//  top: -70px;
//  left: -4rem;
//  color: $site_mid_blue;
//  opacity: .2;
//}

.banner-wave-container {
  height: 150px;
  overflow: hidden;
  margin-top: -2px;

  @include respond-to(small) {
    height: 75px;
  }
}